<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="De.THirsch.Schnappschuss.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <De.THirsch.Schnappschuss.Properties.Settings>
            <setting name="LastWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LastWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastRegionLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastRegionSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AutosaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyScreenshotToClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenWindowsAfterShot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutosaveEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutosaveFormat" serializeAs="String">
                <value>Bild_{0}</value>
            </setting>
            <setting name="AutosaveFiletype" serializeAs="String">
                <value>png</value>
            </setting>
        </De.THirsch.Schnappschuss.Properties.Settings>
    </userSettings>
</configuration>